 @charset "UTF-8";  
     
     body {
            background-color: rgb(227, 179, 221);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(252, 252, 252);
            background-color: rgb(231, 92, 162);
        }
        h2{
            color: rgb(246, 246, 246);
        }
        p{
            text-align: justify;
        }